@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300;1,400&display=swap');

body {
    background-color: #F5EAD5;
    font-family: 'Cormorant', serif;
    font-size: 30px;
    font-weight: 400;
    background-image: url('https://lh3.googleusercontent.com/pw/ABLVV85Vk24vbO0CBaoX_A9c5jY56nab-ECq1QyC6yA2nSAGOg0gA027anDgS1IfnC6fk1u60BhzljusTC6IC4vT_2OgLiTLKuiVashzl8wE_bcuiDPXwI6ABqJNaLTUMzyZbq3CKUleH4JoDvcv500XDiKLH8ZzS6yIjTSb-dDEbm0o-BWjwyAa_7samy7QGMVDvF7LtQKKQ5RaP19nSH1DlO1de5BM4tjDnFPsds1aAUvsSMyxjhIfPHNh17M8301k5D5JEI1-4qr4JFSBNTvjO8COmILvRS7QZbDT9QuOobFaY723208wFswQV5J7gdaObAz2K6g2rwNaRDmI6axQSIjojSGWMy9A8iSbp1h8fBVBbTNPKtT1ddBOYgve84J0hA08Tw3DyxHP14IL3ge1yPiTiNy9yj3x0_Q1dmVn-x4UUmaac5q_D8xuS8duo9pg_7oG9ItoX1wtp7m77Q7MvmQyrEDTMKSFux7_yrifYJ3h_waUMCpisWYUStOAEubfsXR0_9viTeQjguMH260t-kBtnf_6Q2qBQcFaGa-PxRb9hCUYJfNRY7iHf6YksoaXw98ZEJ-NRWAJjp6AggJNs9W1Uz6G8GTvTsisDq9YtlGFhLcJWJDz1c222C3Wd7hCO_uHngLQfheDxgebXmz8TdiK8vHUnMv1ByG1IlvYcS9O1Usq_6flLSk8cYNBXzonSvBsUWy_7Shwlqv_X82oGtgqye5eHA4Xw36rZBCF7PxMz7IdBobsdGxlQs4YU9lczBGenm_lZOh6mPwmx4wN1BVL8Mc6myneaSm7Ysx4XmABuOHVAzflhFcJMkmQzFXHjC7c8gAsRrAWlQKl8np9ZkTuohYqgc0c9llNOza0ofk6vmosPAdiGvwhc3eUm-MkBO9d9MhLPJ8GllCbBPtf0N-PgBG2MSJZxCRCA67a=w1080-h1080-s-no-gm?authuser=0'); /* Replace with your image path */
    background-size: 45%;
    height: 100vh;
    background-position: top left;
    background-repeat: no-repeat;
} 

body::after {
    content: '';
    position: fixed;

    bottom: -10%;
    right: -20%;
    width: 30%;
    height: 30%;
    background-image: url('https://lh3.googleusercontent.com/pw/ABLVV848cg8gLX2zDbBOVn2-FUbqE8SI-9jvXjNae-FeO09jcQ6K1-lf0a7LNWUih-ZHbk1Pji288TPxUJFJ0toTm2NVYysdiqUhjsqvUyMjM6_zTD6g-c-86eNvwWw2T6rsgcmXRmX-jgnYqNWJASKxgRtwtE7rTn9iV6ktg1fofMKKWwjIOwH6Q_P-7e4lYWmcibAA7o334k8U8y5oVn4rETZaz2bUe5TyVsdlrTpDgHXdqaYLUMMbtbUe-JJW0hYp1TKC8L9PiMyKvaT74BqlCTRm8KNziFhDnxjKM8fN4AV8fnZ7itVuwWo4DxXrJVgqcmPMd6FDdNrpPZ_guRppfRjQR0vIngK-wLxylE_qDqpfhTTd_coiRXc5sY0ATuA9_HViIHxS7firnD4fMSaNk4bDLzCVfDcw-xDCiz0x0n9C6rmIBb_01a64s9qt3__h7kIvI94bDfTbj0oCBCzVFBt-vLDw363X9lNClhKQVBCBHvnPvoJ30uniWFI2_8JH2MUHt4zkQppEinV2rEq2ye91WjWomHR2JmzuDxOXIECl2QLXRRbxBS3sIYbKNm0iDem-y9x3l3pRFw9WFCiFBMIhYDfPYwLivVpzzpeXeLCDRwVXPba2jkRNbQGtAXXkzVUkCpCtm8laG8-F9h8UTZ8uOFhviE6jGzJvwD2e1tgN0ks0FcMMzXHWbxEjLVyb5a_29xINSzsCdMOpVnrVOgFYS6VdnQE2HY0AaxDAf8uNDELBQpIqDTNnSf-rbSHSwEce8mpP-kEqytoYuv_AEmf_A6wIj2_khO6nasX_ivZV7UVhsrbb9IDADqWO5rvsgSFYwWtUYNMIfk6pVDzjEWU5tVprx9s4orc7nuxXmqUXikyKy1jB1kM4MU54lEOMaJr4gYiArLJ4VwGkVoprrGnV_cOLuG9Ow8UoMCE7=w1080-h1080-s-no-gm?authuser=0'); /* Replace with your second image path */
    background-size: 35%;
    background-repeat: no-repeat;
}

.navigation {
    margin-left: 950px;
    margin-top: 40px;
}
.navigation a {
    font-size: 25px;
    color: #555;
    text-decoration: none;
    margin-right: 10px;
    margin: 10px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: #7d2ae8;
}

.center-image {
    display: block;
    margin: auto;
    margin-top: -30px;
    width: 40%; 
    height: auto;
}

.Resume {
    width: 120px;
    height: auto;
}

.Work {
    width: 120px; 
    height: auto;
}

.AboutMe {
    width: 120px;
    height: auto;
}